body {
  color: $body-color;
  font-family: $font-family-1;
  font-size: 1rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    outline: none !important;
  }
}