h1 {
  @include media-breakpoint-between(xs, md) {
    font-size: $h1-font-size * 0.8;
  }
}

h4 {
  font-family: $font-family-base;
  font-weight: bold;
}

h6 {
  font-family: $font-family-base;
  font-weight: bold;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.text-blue-200 {
  color: $blue-200 !important;
}
