<nav class="navbar">
  <a class="logo" href="/">
    <img class="img-fluid" src="/images/logo.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="icon icon--menu-toggle"></span><span class="text">Menu</span>
  </button>
  <div class="navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="navbar-nav__item active">
        <a class="navbar-nav__link" href="/">Home</a>
      </li>
      <li class="navbar-nav__item">
        <a class="navbar-nav__link" href="/provinces.html">Provinces</a>
      </li>
      <li class="navbar-nav__item">
        <a class="navbar-nav__link" href="/heat.html">HEAT</a>
      </li>
      <li class="navbar-nav__item">
        <a class="navbar-nav__link" href="/mpc.html">MPC</a>
      </li>
      <li class="navbar-nav__item">
        <a class="navbar-nav__link" href="/pdm.html">PDM</a>
      </li>
      <li class="navbar-nav__item">
        <a class="navbar-nav__link" href="#">Contact</a>
      </li>
      <li class="navbar-nav__item nav-search">
        <a href="#" class="navbar-nav__link nav-search__link">
          <span class="icon icon--search"></span><span class="nav-search__link-text">Search</span>
        </a>
        <div class="dropdown-menu nav-search__form">
          <form>
            <input type="text" class="form-control" placeholder="What are you looking for?">
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>
