.about {
  padding: 50px 0;

  @media (min-width: $lg-min) {
    display: flex;
    padding: 100px 0;
  }
}

.about__left {
  text-align: center;
  flex-basis: 35%;
}

.about__title {
  color: $blue-3;
  display: inline-block;
  font-family: $font-family-2;
  font-size: 60px;
  margin: 15px 0;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  text-align: center;

  @media (min-width: $md-min) {
    font-size: 72px;
  }

  &:before {
    content: "";
    background-color: $gray-1;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 25%;
    z-index: -1;
  }
}

.about__right {
  flex-basis: 65%;
  line-height: 2;
  max-width: 930px;

  @media (min-width: $lg-min) {
    padding-left: 30px;
  }
}