.navbar-toggler {
  background: none;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;

    .text {
      background-color: #fff;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      color: $primary;
    }
  }

  .icon {
    margin-right: 5px;
  }

  .text {
    background: $primary;
    padding: 11px 10px;
    transition: $default-transition;
  }

  @media (min-width: $navbar-expand) {
    display: none;
  }
}
