.content {

}

.content--thin-left {
  @media (min-width: $sm-min) {
    display: flex;
  }
}

.content__left {
  padding: 10px;

  @media (min-width: 1024px) {
    min-width: 300px;
    padding: 30px;
  }

  &.bg--blue-3 {
    h4 {
      color: #fff;
      font-weight: normal;
      text-align: center;
      margin-bottom: 5px;

      @media (max-width: 1023px) {
        font-size: 20px;
      }
    }

    .checkboxes__item {
      @media (max-width: 1023px) {
        min-height: 40px;
        padding: 10px 0;
      }

      .checkbox + label {
        @media (max-width: 1023px) {
          font-size: 12px;
        }

        &:before {
          @media (max-width: 1023px) {
            width: 18px;
            height: 18px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.content__right {
  @extend .content__single;
  position: relative;

  @media (min-width: 1024px) {
    padding: 50px 30px !important;
  }

  .accordion__item-title {
    font-family: $font-family-2;
    font-weight: 600;
    font-size: 48px;
  }
}

.content__single {
  line-height: 2;
  padding: 25px 15px;

  @media (min-width: 1024px) {
    padding: 50px 75px;
  }
}