.graph {
  background-color: #fff;
  border: 1px $gray-2 solid;
  text-align: center;
  margin: 30px 0;
  padding: 30px;
  position: relative;

  @media (min-width: $lg-min) {
    padding: 50px;
  }
}

.graph__title {
  position: relative;
  line-height: 1.3;
}

.graph__description {
  @media (max-width: $lg-max) {
    margin-bottom: 30px;
  }
}

.graph__subtitle {
  font-size: 24px;
  line-height: 1.5;
  color: $secondary;
  font-weight: normal;
  margin-bottom: 30px;
}

.graph__buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.graph__full {
  @extend .btn--primary;
  border-left: 1px #fff solid;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-right: 5px;

  @media (min-width: $lg-min) {
    font-size: 24px;
    height: 36px;
    width: 36px;
  }
}

.graph__placeholder {
  height: 510px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg {
    max-width: 100%;
  }
}

.graph__tooltip {
  color: #072A53 !important;
  background-color: #f9f7f7 !important;
  border: 1px solid #95a0a9 !important;
  border-radius: 4px !important;
  padding: 4px !important;
  width: 180px !important;
  height: 120px !important;
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  justify-content: center !important;

  &.place-top {

    &:after {
      border: none;
    }

  }

}

.graph__row {
  @media (min-width: $xl-min) {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
  }

  > * {
    @media (min-width: $xl-min) {
      display: flex;
      width: calc(50% - 30px);
      margin: 0 15px !important;
    }
  }

  .graph {
    @media (min-width: $xl-min) {
      height: 100%;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  + .graph__row {
    @media (min-width: $xl-min) {
      margin-top: 30px;
    }
  }
}

.graph--horizontal {
  @extend .graph;
  @media (min-width: $xl-min) {
    display: flex;
    align-items: center;
    padding: 100px 65px;
    text-align: left;
  }

  .graph__buttons {
    top: 0;
    right: 0;
  }

  .graph__col {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }

  .graph__col--30 {
    @extend .graph__col;
    @media (min-width: $xl-min) {
      width: 30%;
    }
  }

  .graph__col--70 {
    @extend .graph__col;
    @media (min-width: $xl-min) {
      width: 70%;
    }
  }

  .graph__title {
    @media (min-width: $xl-min) {
      font-size: 48px;
    }
  }

  .graph__subtitle {
    @media (min-width: $xl-min) {
      margin-bottom: 0;
    }
  }

  .graph__graph {
    border: 1px $gray-2 solid;
    position: relative;
    margin: 15px 0;
    padding: 35px 30px;

    + .graph__grid {
      margin-top: 0px;
    }
  }

  .graph__grid {
    margin: -15px 0;

    @media (min-width: $md-min) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    .graph__graph {
      margin: 30px auto;

      @media (min-width: $md-min) {
        margin: 15px;
      }
    }
  }

  .graph__grid-2 {
    @extend .graph__grid;

    .graph__graph {
      @media (min-width: $md-min) {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
      }
    }
  }
}

.graph__spotMatrix-wrapper {
  width: 100%;
  height: 500px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;

  .graph__spotMatrix {
    table-layout: fixed;
    width: 100%;

    thead td {
      font-weight: bold;
      text-align: center;
    }

    tbody tr td:first-of-type {
      font-weight: bold;
      text-align: left;
    }

    td {
      padding: 20px 10px;
    }

    .spotMatrix-circle {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      margin: auto auto;
    }
  }

}

.chartLayerSelector {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 40px;
  position: absolute;
  text-align: left;

  a.active {
    text-decoration: underline;
  }
}

.bullet--dataNotAvailable {
  width: 530px;
  height: 40px;
  background-color: #ecebeb;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
