.header-search {
  @extend .mx-auto;
  max-width: 624px;
  margin-top: 40px;
}

.header-search__group {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;

  .form-control {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    padding: 20px 30px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    &::placeholder {
      color: #fff;
      font-style: italic;
    }
  }
}

.header-search__submit {
  button {
    font-size: 24px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
}