.loader {
  margin: 30px 0;
  padding: 80px;
  background-color: #fff;
  border: 1px $gray-2 solid;
  font-size: 200%;
  height: 766px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__page {

}

.loader__component {

}
