.loader {
  margin: 30px 0;
  padding: 80px;
  background-color: #fff;
  border: 1px $gray-2 solid;
  font-size: 200%;
  min-height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__page {

}

.loader__component {

}

.graph--horizontal .loader {
  margin: 15px 0;

  @media (min-width: $md-min) {
    width: 100%;
  }
}

.graph--horizontal .graph__grid .loader {
  margin: 30px 0;
  @media (min-width: $md-min) {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin: 15px;
  }
}
