.loader {
  margin: 30px 0;
  padding: 30px;
  background-color: #fff;
  border: 1px $gray-2 solid;
  font-size: 200%;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  text-align: center;

  @media (min-width: $lg-min) {
    padding: 50px;
  }

  > div {
    width: 100%;
  }
}

.loader__page {

}

.loader__component {

}

.loader__message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 510px;
}

.graph--horizontal .loader {
  margin: 15px 0;

  @media (min-width: $md-min) {
    width: 100%;
  }
}

.graph--horizontal .graph__grid .loader {
  margin: 30px 0;
  @media (min-width: $md-min) {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin: 15px;
  }
}
