.nav-search {
  position: static;
}

.nav-search.active .nav-search__link,
.nav-search__link:hover {
  background-color: $secondary;
  color: #fff;
}

.nav-search__link-text {
  margin-left: 0.5rem;

  @media (min-width: $lg-min) {
    display: none;
  }
}

.nav-search__form {
  background-color: $secondary;
  display: none;
  width: 100%;
  padding: 8px 10px;

  @media (min-width: $navbar-expand) {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .form-control {
    border: none;
    color: $secondary;
    font-size: 14px;
    padding: 5px 10px;
  }
}

.nav-search.active .nav-search__form {
  display: block;
}

.nav-search__form {
  .form-control {
    + div {
      background-color: $blue-3 !important;
      border: none;
      border-top: none;
      box-shadow: none !important;
      margin-left: -11px;
      min-width: 584px !important;
      max-height: 25vh !important;
      //overflow: hidden !important;
      position: absolute !important;
      z-index: 1;
      top: 100% !important;
      left: 11px !important;
      padding: 0 11px !important;

      > div {
        &:last-child {
          border-bottom: none !important;
        }
      }
    }
  }
}