$gutter-width: 30px;
$gutter-compensation: calc((#{$gutter-width} * 0.5) * -1);
$xs-min: 0;
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xs-max: $sm-min - 1;
$sm-max: $md-min - 1;
$md-max: $lg-min - 1;
$lg-max: $xl-min - 1;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$navbar-expand: $lg-min;

.container-fluid, .container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: $gutter-width / 2;
  padding-left: $gutter-width / 2;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

@media (min-width: $sm-min) {
  .container {
    width: $container-sm;
  }
}

@media (min-width: $md-min) {
  .container {
    width: $container-md;
  }
}

@media (min-width: $lg-min) {
  .container {
    width: $container-lg;
  }
}

@media (min-width: $xl-min) {
  .container {
    width: $container-xl;
  }
}