.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.bg--gray-1 {
  background-color: $gray-1;
}

.clearfix {
  @include clearfix;
}

.b-padding-50 {
  padding-bottom: 50px;
}