// Colors.
$red:         #ee4e4e;
$green:       #a5c9a1;
$orange:      #f69e61;
$yellow:      #fff67a;
$blue-1:      #56B3CD;
$blue-2:      #0067A9;
$blue-3:      #072A53;
$gray-1:      #f9f7f7;
$gray-2:      #ecebeb;
$gray-3:      #95a0a9;
$gray-4:      #696969;

$body-color:  $gray-4;
$primary:     $red;
$secondary:   $blue-3;

$font-family-1: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-2: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$default-transition: all .15s ease;
