.graph {
  background-color: #fff;
  border: 1px $gray-2 solid;
  text-align: center;
  margin: 30px 15px;
  padding: 30px;


  @media (min-width: $lg-min) {
    margin: 30px 75px;
    padding: 50px;
  }
}

.graph__subtitle {
  font-size: 24px;
  color: $secondary;
  font-weight: normal;
  margin-bottom: 10px;
}